{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env zsh

set -euo pipefail

brew bundle --no-lock --file=/dev/stdin <<EOF

# chezmoi essentials
brew "git"
brew "gnupg"
brew "lastpass-cli"

# cli applications
brew "neovim"
brew "asdf"
brew "pinentry-mac"

# userland applications
cask "google-chrome"
cask "visual-studio-code"
cask "discord"
cask "spotify"
cask "iterm2"
cask "docker"
cask "stats"

EOF

{{ end -}}

